.button-wrapper {
    display: flex;
    justify-content: space-evenly;

    .ui.button.primary-button {
        flex-grow: 1;
        margin: 0 10px!important;
    }
}


.ui.button.primary-button, .ui.button.secondary-button {
    background-color: $orange;
    color: white;
    padding: 20px;
    width: 200px;
    font-size: 16px;

    border-radius: 30px;

    &:hover, &.active {
        background-color: darken($orange, 10);
    }

    &.secondary-button {
        background-color: white;
        color: $orange;

        &:hover, &.active {
            background-color: darken(white, 5);
        }
    }

    &.white {
        background-color: white;
        color: $orange;
    }
    @media screen and (max-width: $mobileBP) {
        width: 80%;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

