$maxwidth: 1200px;
$mobileBP: 600px;
$smallerMobileBP: 400px;

$background-grey: #fefefe;
// $background-grey: #FCF9F9;
$primary-blue: #367bc3;
$darken-blue: #2d68a4;
$primary-green: #38bfa7;
$darken-green: #2C9885;
$secondary-green: #8fe182;
$primary-purple: #524582; 
$hover-grey: rgba(0, 0, 0, 0.08);

$navy: #384586; 
$orange: #F98229;
$black: #202020;